@font-face {
    font-family: 'ptSans';
    src: url('/fonts/pt-sans.woff2') format('woff2'),
    url('/fonts/pt-sans.woff') format('woff'),
    url('/fonts/pt-sans.ttf') format('truetype');
}

body {
    font-family: 'ptSans', Arial, serif;
}

.bordered {
    border: 1px solid red;
}