.navbar-login-btn {
  border-radius: 20px;
  color: var(--main-black-color);
  box-shadow: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: all 0.3s ease;
  font-size: inherit;
  text-decoration: none;
  background: none;
  border: solid 1px var(--main-color);
}

.navbar-login-btn:hover {
  background: rgb(94,201,168);
  background: linear-gradient(45deg, rgba(94,201,168,1) 10%, rgba(40,153,118,1) 100%);
  color: #fff !important;
  border: solid 1px var(--main-color);
}

.navbar-mobile-title {
  width: 80%;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-link {
  padding-left: 14px !important;
  padding-right: 14px !important;
  color: var(--main-black-color);
}

.navbar-brand {
  background-image: url(/img/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 86px;
  height: 86px;
  position: absolute;
  z-index: 9;
}
.navbar-language {
  color: var(--main-black-color);
}
.navbar-language:hover {
  text-decoration: none;
}
.navbar-brand-wrapper {
  display: flex;
  align-items: center;
}
.navbar-brand-title {
  font-size: 22px;
  /* font-weight: 600; */
  text-transform: uppercase;
}

.navbar-mobile-button {
  width: 100%;
  display: none;
}
.navbar-mobile-language {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.navbar-wrapper {
  background-color: transparent;
  color: #000;
}

.nav-item {
  cursor: pointer;
  /*transition: background-color 0.3s ease;*/
  border-radius: 6px;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}
.nav-item:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  background-color: #3f85f7;
}
.nav-item a:hover {
  color: #fff;
}
.nav-item--active {
  border-bottom: 4px solid #3f85f7;
  border-radius: 0;
}

.nav-link {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #8c8c8c;
  /*font-weight: 600;*/
}

.navbar-language {
  margin-right: 5px;
}

/* Top header */
.top-header {
  padding: 10px 0;
  background-color: rgb(63, 133, 247);
  color: #fff;
}
.top-header__content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ecf6ff;
}
.top-header__content div {
  margin-right: 20px;
}
.top-header__social-network a {
  margin-right: 10px;
}
.top-header__contact {
  display: flex;
}

.navbar-mobile-title {
  display: none;
}

.navbar-toggler {
  background-color: #fff;
  border-color: #3f85e7;
}
.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f85e7;
}

@media (max-width: 576px) {
  .top-header {
    display: none;
  }

  .navbar-brand-title {
    text-align: center;
  }
  .navbar-button {
    display: none;
  }
  .navbar-mobile-button {
    display: block;
  }

  .top-header__content {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  .navbar {
    background: #fff;
  }

  .navbar-mobile-title {
    display: block;
  }
}