/* montserrat-300 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/montserrat-v14-latin_cyrillic-ext_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --main-color-blue: #01A0E4;
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

/*body {*/
/*    background-image: url("/img/fon.jpg");*/
/*}*/

.main-container {
    color: #fff;
    /*background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0.4) 40%), url(/img/002.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.main-features {
    z-index: 3;
    position: relative;
    top: 60px;
}
.main-feature {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 40px 0;
}
.feature {
    padding: 20px;
    color: #000;
    height: 160px;
    border-width: 2px;
}
.feature--first {
    border: #E31E25 solid;
}
.feature--second {
    border: #FFEF26 solid;
}
.feature--third {
    border: var(--main-color-blue) solid;
}
.feature__title {
    font-size: 22px;
    font-weight: 600;
}
.feature__content {
    font-size: 16px;
}

.feature-block__footer {
    position: absolute;
    padding: 26px;
    text-align: center;
    width: 100%;
    font-size: 22px;
    bottom: 0;
}

.card {
    margin-bottom: 20px;
}

/* footer */
footer {
    padding: 40px 0;
    color: #fff;
    background-color: #3f85e7;
}
.footer__link {
    font-weight: 600;
    font-size: 18px;
}
.footer__link:hover {
    color: var(--main-color-blue);
}
.footer__sub-link {
    font-size: 18px;
}
.footer__sub-link:hover {
    color: var(--main-color-blue);
}
.footer__img {
    width: 160px;
}

/* breadcrumb */
.breadcrumb {
    background-color: unset;
    margin: 0;
    padding: 0;
}
.breadcrumb i {
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
}
.breadcrumb i:first-child {
    padding-left: 0;
}
.breadcrumb a {
    color: #fff;
}

/* hero */
.hero {
    padding: 60px 0;
    /* background-color: rgba(0, 123, 255, 0.5); */
    background: url(/img/gory.jpg) bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.site-container {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background: url("/img/hero-bg.jpg");
    padding: 40px 30px;
}

.site-title {
margin-bottom: 20px;
}

.news-view-date {
color: #9e9e9e;
}

/* main block */
.main-block {
    padding-top: 40px;
}
.main-block__title-wrapper {
    margin-left: 10px;
}
.main-block__title {
    font-size: 16px;
    /* font-weight: 600; */
    display: block;
    position: relative;
    top: 126px;
    color: #0a0a0a
}
.main-block__logo {
    width: 100%;
    position: relative;
    top: 120px;
}
.main-block__image {
    width: 100%;
}

.wave {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 36%;
    z-index: 1;
}

.wave + .wave {
    z-index: 2;
}

/* Magazine list */
.magazine-list {
    margin-top: 30px;
}
.magazine {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
    margin-bottom: 30px;
}
.magazine__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.magazine__title {
    margin-top: 10px;
}
.magazine__body {
    padding: 5px 0;
}
.magazine__date {
    color: #C2C2C2;
    font-size: 12px;
}
.magazine__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.magazine__share-link {
    padding: 5px;
    transition: color 0.5s ease;
}
.magazine__share-link:hover {
    color: var(--main-color-blue) !important;
}

/* pagination */
.pagination li {
    border: 1px solid #e8e8e8;
    transition: box-shadow .3s, color .3s;
    cursor: pointer;
}
.pagination li a {
    display: block;
    padding: 10px 14px;
}
.pagination li.disabled {
    background-color: #e8e8e8;
    padding: 10px 14px;
}
.pagination .active {
    color: #e8e8e8;
}
.pagination li:hover {
    box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
}
.pagination li:first-child {
    border-radius: 10px 0 0 10px;
}
.pagination li:last-child {
    border-radius: 0 10px 10px 0;
}

/* question */
.question-list__item span, .question-box__text span, .question-box__answer span {
    top: 0 !important;
}

/* timer */
.question-box {
    margin-top: 60px;
    font-weight: 300 !important;
}
.question-box__answer-text {
    cursor: pointer;
    transition: all 0.5s ease;
}
.question-box__answer-text:hover {
    color: var(--main-color);
}

.answer-list {
    position: relative;
}
.answer-list__item--correct:before {
    position: absolute;
    left: 0;
    margin-top: 5px;
    color: #28a745;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    font-weight: 400;
}

.answer-list__item--wrong:before {
    position: absolute;
    left: 0;
    margin-top: 5px;
    color: #dc3545;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00d";
    font-weight: 400;
}

.answer-list__item--checked-correct:before {
    position: absolute;
    left: 0;
    margin-top: 5px;
    color: #28a745;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f058";
    font-weight: 400;
}

/* project list */
.project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* project list */
.project-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 260px;
    width: 100%;
    max-width: 260px;
    margin: 20px 30px 30px 30px;
    padding: 10px;
    position: relative;
    background: transparent;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,31,51,.19);
    box-shadow: 0 0 6px rgba(0,31,51,.19);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    color: #000;
    font: 1.8rem "Open Sans Semibold",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.project-list__item:hover {
    -webkit-box-shadow: 0 0 29px rgba(0,31,51,.3);
    box-shadow: 0 0 29px rgba(0,31,51,.3);
}
.project-list__item img {
    max-width: 100%;
    max-height: 100%;
}

.disabled-link{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    opacity: 0.5;
}

/* subject list */
.subject-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 260px;
    width: 100%;
    max-width: 260px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,31,51,.19);
    box-shadow: 0 0 6px rgba(0,31,51,.19);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    font: 1.8rem "Open Sans Semibold",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.subject-list__item:hover {
    -webkit-box-shadow: 0 0 29px rgba(0,31,51,.8);
    box-shadow: 0 0 29px rgba(0,31,51,.8);
    color: #fff !important;
}

.olympiad-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,31,51,.19);
    box-shadow: 0 0 6px rgba(0,31,51,.19);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 123, 255, 0.5);
}
.olympiad-item:hover {
    -webkit-box-shadow: 0 0 29px rgba(0,31,51,.8);
    box-shadow: 0 0 29px rgba(0,31,51,.8);
    color: #fff !important;
}

.contact-list__item {
    margin-bottom: 5px;
}
.contact-list__item--main {
    margin-bottom: 10px;
}

/* articles */
.article-order-widget {
    margin-bottom: 20px;
}
.article-order-widget__text {
    font-weight: 600;
}

.articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.article-block__wrapper {
    width: 100%;
}
.article-block {
    width: 30.8%;
    margin-right: 2.5%;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    position: relative;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,31,51,.25);
    box-shadow: 0 0 10px 0 rgba(0,31,51,.25);
    -webkit-transition: color .3s,-webkit-box-shadow .3s;
    transition: color .3s,-webkit-box-shadow .3s;
    -o-transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s,-webkit-box-shadow .3s;
}
.article-block:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
    box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
}
.article-block__preview {
    position: relative;
}
.article-block__description {
    padding: 15px 20px;
    border-top: 1px solid #dee7ed;
}
.article-block__title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 20px;
}
.article-block__bottom {
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #dee7ed;
    color: #9aaab4;
}
.article-block__bottom .date {
    float: right;
}
.article-block__bottom span {
    display: inline-block;
    position: relative;
}

/* feature */
.feature-block {
    margin-right: 2.5%;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    color: #000;
    text-decoration: none;
    position: relative;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,31,51,.25);
    box-shadow: 0 0 10px 0 rgba(0,31,51,.25);
    -webkit-transition: color .3s,-webkit-box-shadow .3s;
    transition: color .3s,-webkit-box-shadow .3s;
    -o-transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s,-webkit-box-shadow .3s;
}
.feature-block:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
    box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
}
.feature-block__preview {
    position: relative;
}
.feature-block__preview img {
    width: 100%;
}
.feature-block__description {
    padding: 15px 20px;
    border-top: 1px solid #dee7ed;
}
.feature-block__title {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 20px;
}

/* main image */
.main-block__image-wrapper {
    width: 100%;
    position: relative;
    z-index: 3;
}

/* about */
.about-image {
    width: 86%;
    margin: 16px;
}
.about__director-wrapper {
    width: 60%
}

/* staff */
.staff-info {
    text-align: center;
    font-weight: 600;
}

.main-block__title-img {
    width: 80%;
    margin-left: 16px;
}

.printing__img-wrapper {
    padding: 20px;
    text-align: center;
}
.printing__img {
    width: 80%;
}
.printing__title {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.site-edu__container {
    padding: 0 60px;
    position: relative;
    top: -500px;
}

.site-edu__feature {
    text-align: center;
    padding: 20px;
    background-color: #41aedb;
    color: #ffffff;
    margin: 10px;
    font-weight: 600;
}

.feature-box {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    position: relative;
    -webkit-transition: color .3s,-webkit-box-shadow .3s;
    transition: color .3s,-webkit-box-shadow .3s;
    -o-transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s;
    transition: box-shadow .3s,color .3s,-webkit-box-shadow .3s;
}

.feature-box:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
    box-shadow: 0 0 15px 0 rgba(0,31,51,.4);
}
.feature-box a:hover {
    color: #d8d8d8;
}

.feature-box__container {
    width: 100%;
    text-align: center;
    padding: 26px;
    bottom: 10px;
}

.feature-box__image {
    width: 36%;
    padding-bottom: 16px;
}

.about-block {
    padding: 120px 0 20px 0;
    background-color: #fff;
}

.olympiad-info {
    text-align: center;
}
.olympiad-img {
    width: 260px;
}
.olympiad-info a {
    color: #0b58a2;
}

/* Card */
.card-image {
    display: block;
    min-height: 20rem; /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
}
.card-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
}
.card-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
}
.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}
.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}
.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}
.card-description > h2 {
    margin: 0 0 0.5em;
}
.card-description > p {
    margin: 0;
    color: #8c8c8c;
}

@media screen and (max-width: 767px) {
    .site-container {
        padding: 40px 15px;
    }
    .site-edu__container {
        padding: 0 60px;
        position: relative;
        top: -126px;
    }

    .articles-list .article-block {
        width: 100%;
        margin-right: 0;
    }

    .main-block {
        flex-wrap: wrap;
    }
    .main-block__title-wrapper {
        font-size: 1.8rem;
    }

    .main-block__logo {
        width: 80px;
        margin-right: 10px;
    }

    .main-block__title-img {
        width: 65%;
    }

    .main-block__title {
        top: 0;
    }

    .main-block__logo {
        display: none;
    }

    .about__director-wrapper {
        width: 100%
    }

    .site-container h1 {
        text-align: center;
    }

    .about-block {
        padding: 20px 0 20px 0;
    }

    .feature-block {
        margin-right: 0;
    }

    .main-features {
        top: 0;
        background-color: #3195ff;
    }
}